{% extends "landing.html" %}
{% load static %}
{% block main %}
   {% include "message.html" %}
   <div>
    {% if user.is_authenticated %}
    <h1 class="text-secondary mx-2 text-center">Welcome <span class="text-success">{{request.user.first_name}} {{request.user.last_name}}</span></h1> 
    {% else %}
    <h1 class="text-secondary mx-2 text-center fw-bold">Join now</h1> 
    {% endif %}
    <div id="carouselId" class="carousel 
         slide" 
         data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        <!-- The slideshow -->
        <div class="carousel-inner" role='listbox'>
                <div class="carousel-item active">
                    <img src={% static 'img/banner1.jpg' %}
                    height="400px" width="400px"
                    alt="Vegetable" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src={% static 'img/banner2.png' %}
                    height="400px" width="400px"
                    alt="Fruit" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src={% static 'img/banner3.webp' %}
                        height="400px" width="400px"
                        alt="Milk" class="d-block w-100" >
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

        {% comment %} product section {% endcomment %}

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5"> 
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">                        
                {% for product in products %}
                    {% if product.is_offer %}                 
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Offer</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." height="200px"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.title }}</h5>
                                    <!-- Sale -->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                            <i class="bi bi-star-fill"></i>
                            Offer!
                            <i class="bi bi-star-fill"></i>
                            </div>
                                    <!-- Product price-->
                                    <strike>
                                    ${{ product.price }}
                                    </strike>
                                    ${{ product.offer_price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="">View Product</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." height="200px" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.title }}</h5>
                                    <!-- Product price-->
                                    ${{ product.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">View Product</a></div>
                            </div>
                        </div>
                    </div>

                        {% endif %}
                    {% endfor %}


            </div>
        </section>
{% endblock main %}
